* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.5 Arial, Microsoft Yahei, sans-serif;
    color: #636b6f;
}

img {
    border: 0;
}

a,
a:focus,
a:visited,
a:link,
a:hover,
a:active {
    text-decoration: none;
}

.container-fluid.main {
    padding: 0;
}

:root {
    text-autospace: normal;
}
